// .container-koi {
// //     background-color: rgb(15, 11, 36);
//         width: 100.9%
// //     padding: 70px 10px 10px;
// }

.header-dark-koi {
  background-color: #181333;
}

.lower-padding {
  padding-top: 5px;
  padding-bottom: 0;
  margin-bottom: -80px;
  margin-top: 5px;
  .h1 {
  }
}

a.koi-header-logo {
    &:hover {
      background-color: $dark-violet;
  }
}

.koi-header-logo p {
  font-family: "Aclonica", sans-serif !important;
  
}

.hero-koi-big {
  font-size: 50px;
  font-family: "Aclonica", sans-serif !important;
}

.hero-koi-sub {
  font-size: 30px;
  font-family: "Work Sans", sans-serif !important;
}

.header-font-koi {
  font-family: "Work Sans", sans-serif !important;
}

.stretch-koi {
  width: 100%;
  margin: 0 -1px -8px;
  padding: 0 -1px -8px;

  overflow-x: hidden;
}

.golden {
  color: gold;

  background: #060124;
  border-radius: 5px;
  &:hover {
    background: white;
    color: #060124;
  }
}

.tab-box {
    display: flex;
    justify-content: center;
    margin: 0 20px 20px;
    border: 1px solid $gold;
    border-radius: 10px;
    background-color: $light-violet-translucent;
    padding: 50px;
    width: 70%;
    color: $white-gold;
    h2, li, h4 {
        color: $white-gold;
    }
}

.header-underline {
    border-bottom-color: gold;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.koi-active-dropdown {
    background-color: $dark-violet;
    color: $white-gold;
}

.tab-container-koi {
    background-color: $dark-violet;
    display: flex;
    
    justify-content: center;
}
// @keyframes neon {
//     from {
//         text-shadow: 0 0 1px $light-violet, 0 0 3px #fff1a3, 0 0 3px #150A41
      
//     }
//     to {
//         text-shadow: 0 0 2px $light-violet, 0 0 4px #fff1a3, 0 0 4px #150A41
//     }
//   }

.golden-glow {
    color:  $gold;
    text-shadow: 0 0 1px $light-violet, 0 0 3px #fff1a3, 0 0 3px #150A41
    
    
}

.border-glow {
    box-shadow:
        inset 0 0 2px #fff,      /* inner white */
        inset 1px 0 2px #3011b0,   /* inner left magenta short */
        inset -1px 0 3px #4f2ed3,  /* inner right cyan short */
        inset 2px 0 5px #3011b0,  /* inner left magenta broad */
        inset -2px 0 5px #4f2ed3, /* inner right cyan broad */
        0 0 3px #fff,            /* outer white */
        -1px 0 2px #3011b0,        /* outer left magenta */
        1px 0 3px #4f2ed3;         /* outer right cyan */
     
}

