.flex-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.koi-resize {
    height: 213px;
    width: 180px;
    // position: absolute;
}

.eth-resize {
    height: 330px;
    width: 206px;
    
}

// .redKOI {
//     bottom: 22%;
//     right: 40%;
// }

// .yellowKOI {
//     // top: 10px;
// }

.light-text {
    color: white;
}

