.flex-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.koi-resize {
    height: 284px;
    width: 240px;
}

.eth-resize {
    height: 330px;
    width: 206px;
}

